<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 oldie"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 oldie"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 oldie"> <![endif]-->
<!--[if gte IE 9]>         <html class="no-js ie9 ie10 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js oldie"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Startseite - master-ble</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<script src="../scripts/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body>
<!-- ###DOCUMENT### start -->
	<!-- ###SUBPART-CONTENT-COLUMN0### start -->
	<!-- ###SUBPART-CONTENT-COLUMN0### end -->
<!-- ###DOCUMENT### end -->
</body>
</html>