<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 oldie"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 oldie"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 oldie"> <![endif]-->
<!--[if gte IE 9]>         <html class="no-js ie9 ie10 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js oldie"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Startseite - master-ble</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<script src="../scripts/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body class="home">
<!-- ###DOCUMENT### start -->
	<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

	<section class="metaNavContainer center">
		<!-- ###SUBPART-NAVIGATION-META### start -->
		<p><a href="http://www.ble.de"><span class="Btn_Merkzettel_Header" aria-hidden="true"></span>Merkzettel</a></p>
		<ul class="metaNav">
			<li><a href="http://www.ble.de">Kontakt</a></li>
			<li><a href="http://www.ble.de">Inhalt</a></li>
			<li><a href="http://www.ble.de">Glossar</a></li>
			<li><a href="http://www.ble.de">Leichte Sprache</a></li>
			<li><a href="http://www.ble.de">Gebärdensprache</a></li>
			<li><a href="http://www.ble.de">Hilfe</a></li>
		</ul>
		<!-- ###SUBPART-NAVIGATION-META### end -->
		<!-- ###SUBPART-LANGUAGESELECTOR### start -->
		<form action="#" class="languageSwitch">
			<select>
				<option>Deutsch</option>
				<option>English</option>
				<option>Français</option>
				<option>Español</option>
				<option>Русский</option>
			</select>
		</form>
		<!-- ###SUBPART-LANGUAGESELECTOR### end -->
		<!-- ###SUBPART-SEARCH### start -->
		<form action="#" class="keywordSearch">
			<label for="idKeywordSearchTop" class="visuallyhidden">Stichwortsuche</label>
			<input type="search" placeholder="Suchbegriff" id="idKeywordSearchTop">
			<input type="button" value="Suchen" class="visuallyhidden"><span class="Btn_Lupe" aria-hidden="true"></span>
		</form>
	 	<!-- ###SUBPART-SEARCH### end -->

	</section><!-- /section .metaNavContainer center -->
	<header class="banner center">
		<!-- ###SUBPART-LOGO### start -->
			<img src="img/layout/bleLogo.png" alt="Webauftritt im Design der BLE">
			<img src="img/layout/MUDTierschutzLogo.png" class="right" alt="Modell- und Demonstrationsvorhaben Tierschutz">
		<!-- ###SUBPART-LOGO### end -->


		<div class="mainNavButton menu-button">Menu</div>

		<nav>
		<!-- ###SUBPART-NAVIGATION-MAIN### start -->
			<ul id="idMainNav" class="mainNav flexnav" data-breakpoint="1024">
				<li class="navLevel1 news"><a href="http://www.ble.de">Aktuelles</a></li>
				<li class="navLevel1">
					<a href="http://www.ble.de">Fortbildung</a>
					<ul class="navLevel2 clearfix">
						<li class="navLevel2 qualification"><a href="http://www.ble.de">Abschlüsse</a></li>
						<li class="navLevel2 examPreparation">
							<a href="http://www.ble.de">Prüfungsvorbereitung</a>
							<ul class="navLevel3">
								<li><a href="http://www.ble.de">Dritte Ebene</a></li>
								<li><a href="http://www.ble.de">Beispieleintrag für eine dritte Menüebene</a></li>
								<li><a href="http://www.ble.de">Beispieleintrag</a></li>
							</ul>
						</li>
						<li class="navLevel2 technicalCollegeDirectory"><a href="http://www.ble.de">Fachschulverzeichnis</a></li>
					</ul>
				</li>
				<li class="navLevel1"><a href="http://www.ble.de">Studium</a></li>
				<li class="navLevel1">
					<a href="http://www.ble.de">Rechtliches</a>
					<ul class="navLevel2 clearfix">
						<li class="navLevel2 qualification"><a href="http://www.ble.de">Abschlüsse</a></li>
						<li class="navLevel2 examPreparation">
							<a href="http://www.ble.de">Prüfungsvorbereitung</a>
							<ul class="navLevel3">
								<li><a href="http://www.ble.de">Dritte Ebene</a></li>
								<li><a href="http://www.ble.de">Beispieleintrag für eine dritte Menüebene</a></li>
								<li><a href="http://www.ble.de">Beispieleintrag</a></li>
							</ul>
						</li>
						<li class="navLevel2 technicalCollegeDirectory"><a href="http://www.ble.de">Fachschulverzeichnis</a></li>
					</ul>
				</li>
				<li class="navLevel1">
					<a href="http://www.ble.de">Stellenmarkt</a>
					<ul class="navLevel2 clearfix">
						<li class="navLevel2 qualification"><a href="http://www.ble.de">Abschlüsse</a></li>
						<li class="navLevel2 examPreparation">
							<a href="http://www.ble.de">Prüfungsvorbereitung</a>
							<ul class="navLevel3">
								<li><a href="http://www.ble.de">Dritte Ebene</a></li>
								<li><a href="http://www.ble.de">Beispieleintrag für eine dritte Menüebene</a></li>
								<li><a href="http://www.ble.de">Beispieleintrag</a></li>
							</ul>
						</li>
						<li class="navLevel2 technicalCollegeDirectory"><a href="http://www.ble.de">Fachschulverzeichnis</a></li>
					</ul>
				</li>
				<li class="navLevel1">
					<a href="http://www.ble.de">Service</a>
					<ul class="navLevel2 clearfix">
						<li class="navLevel2"><a href="http://www.ble.de">Hinweise zum Portal</a></li>
						<li class="navLevel2">
							<a href="http://www.ble.de">Zuständige Stellen für die Berufsausbildung</a>
							<ul>
								<li class="navLevel3"><a href="http://www.ble.de">Level3</a></li>
								<li class="navLevel3">
									<a href="http://www.ble.de">Literatur</a>
									<ul>
										<li class="navLevel4"><a href="http://www.ble.de">Level4</a></li>
										<li class="navLevel4"><a href="http://www.ble.de">Literatur</a></li>
										<li class="navLevel4"><a href="http://www.ble.de">Lehrmittel</a></li>
										<li class="navLevel4"><a href="http://www.ble.de">Links</a></li>
										<li class="navLevel4"><a href="http://www.ble.de">Informationen für Ausbilder (m/w)</a></li>
									</ul>
								</li>
								<li class="navLevel3"><a href="http://www.ble.de">Lehrmittel</a></li>
								<li class="navLevel3"><a href="http://www.ble.de">Links</a></li>
								<li class="navLevel3"><a href="http://www.ble.de">Informationen für Ausbilder (m/w)</a></li>
							</ul>
						</li>
						<li class="navLevel2">
							<a href="http://www.ble.de">Ressourcen</a>
							<ul class="navLevel3">
								<li class="navLevel3"><a href="http://www.ble.de">Downloads</a></li>
								<li class="navLevel3"><a href="http://www.ble.de">Literatur</a></li>
								<li class="navLevel3"><a href="http://www.ble.de">Lehrmittel</a></li>
								<li class="navLevel3"><a href="http://www.ble.de">Links</a></li>
								<li class="navLevel3"><a href="http://www.ble.de">Informationen für Ausbilder (m/w)</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		<!-- ###SUBPART-NAVIGATION-MAIN### end -->
		</nav><!-- /nav -->
	</header><!-- /header -->
	<!-- ###SUBPART-HEADER-BOX### start -->
	<section class="stage BG-darkAccent BG-stageKeyVisual" id="idStage">
		<div class="center">
			<div class="promotion BG-darkAccent">
					<h1>
					Thema des Monats H1_30pt_39pt Abstd.
					</h1>
					<p>
					Copytext_Sans_Reg_15pt_Zeilenabstd n. oben 28pt consectetur adipisicing elit, do eiusmod sed do eiusmod tempor incididuntminim.
					incididunt ut labore et dolore magna aliqua magna aliqua. Ut enim ad minim do eius veniam, quis.
					</p>
					<p>
							<a href="#" class="Icon_FÜR-LINKS button BG-button">zum Artikel</a>
					</p>
			</div>
		</div>
	</section>
	<!-- ###SUBPART-HEADER-BOX### end -->

	<!-- ###SUBPART-NAVIGATION-SERVICE### start -->
	<section class="serviceArea">
		<div class="center">
			<ul>
				<li class="serviceItem"><a href="#"><img src="//placehold.it/50x26" alt="example"><br>Fragen und Antworten</a></li>
				<li class="serviceItem"><a href="#"><img src="//placehold.it/50x26" alt="example"><br>RSS</a></li>
				<li class="serviceItem"><a href="#"><img src="//placehold.it/50x26" alt="example"><br>Kontakt</a></li>
				<li class="serviceItem"><a href="#"><img src="//placehold.it/50x26" alt="example"><br>linkedIn</a></li>
				<li class="serviceItem"><a href="#"><img src="//placehold.it/50x26" alt="example"><br>Twitter</a></li>
			</ul>
		</div>
	</section>
	<!-- ###SUBPART-NAVIGATION-SERVICE### end -->
	
	<!-- ###SUBPART-NAVIGATION-BREADCRUMB### start -->
	<div class="breadcrumb center">
		<h2 class="visuallyhidden">Brotkrümel-Navigation</h2>

		<!--
		<ul class="clearfix center">
			<li><a href="#">Starseite</a></li>
			<li><a href="#">Level2</a></li>
			<li><a href="#">Level3</a></li>
			<li><span>Location</span></li>
		</ul>
		//-->

	</div>
	<!-- ###SUBPART-NAVIGATION-BREADCRUMB### end -->

	<main id="idMainContent">
	<!-- ###SUBPART-CONTENT-COLUMN0### start -->
		<div class="row clearfix">
			<section class="colspan8">
				<section>
					<header class="sectionHeader">
						<h2>Aktuelles</h2>
					</header>
					<article class="module teaser BG-lightAccent">
						<figure>
							<img src="http://placehold.it/315x217/fff/aaaaaa&amp;text=example+(315x217)" alt="Beispiel">
						</figure>
						<header>
							<h3>
								<span class="date">12. Mai 2014</span>
								Headline 17px Serif Reg #000, Zeilenabstand 24px
							</h3>
						</header>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, similique quidem excepturi a culpa deserunt expedita earum perferendis incidunt possimus praesentium assumenda repellendus facere placeat voluptatem autem eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, similique quidem excepturi a culpa deserunt expedita earum perferendis incidunt possimus praesentium assumenda repellendus facere placeat voluptatem autem eos. Ducimus, expedita.</p>
							<p><a href="#" class="buttonBig BG-lightAccentAlt1">zur Nachricht</a></p>						</div>
					</article>
					<article class="module teaser BG-lightAccent">
						<figure>
							<img src="http://placehold.it/315x217/fff/aaaaaa&amp;text=example+(315x217)" alt="Beispiel">
						</figure>
						<header>
							<h3>
								<span class="date">12. Mai 2014</span>
								Headline 17px Serif Reg #000, Zeilenabstand 24px
							</h3>
						</header>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, similique quidem excepturi a culpa deserunt expedita earum perferendis incidunt possimus praesentium assumenda repellendus facere placeat voluptatem autem eos. Ducimus, expedita.</p>
							<p><a href="#" class="buttonBig BG-lightAccentAlt1">zur Nachricht</a></p>
						</div>
					</article>
				</section>
				<section>
					<article class="module teaser BG-lightAccent fullwidth">
						<header>
							<h3>
								<span class="date">12. Mai 2014</span>
								Headline 17px Serif Reg #000, Zeilenabstand 24px
							</h3>
						</header>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, similique quidem excepturi a culpa deserunt expedita earum perferendis incidunt possimus praesentium assumenda repellendus facere placeat voluptatem autem eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, similique quidem excepturi a culpa deserunt expedita earum perferendis incidunt possimus praesentium assumenda repellendus facere placeat voluptatem autem eos. Ducimus, expedita.</p>
						<p><a href="#" class="buttonBig BG-lightAccentAlt1">zur Nachricht</a></p>
						</div>
					</article>
					<article class="module teaser borderedAlt1 fullwidth">
						<div class="content">
						<p class="textRight"><a href="#" class="buttonBig BG-lightAccent">zur Nachricht</a></p>
						</div>
					</article>
				</section>
			</section>
			<section class="colspan4">
				<article class="contact module BG-lightAccent">
					<header>
						<h2>Infotelefon</h2>
					</header>
					<div class="content">
						<p class="telefon"><a href="tel:+4922868457324">+49 228 6845-7324</a></p>
						<p>Schnelle Hilfe bei Fragen zu CSS3 und HTML5</p>
						<p><a href="marc.haunschild@ble.de" class="buttonBig BG-lightAccentAlt1">marc.haunschild@ble.de</a></p>
					</div>
				</article>
				<section>
					<header class="sectionHeader">
						<h2>Downloadliste</h2>
					</header>
					<article class="module moduleDownload">
							<div class="content BG-lightAccent">
								<ul class="clearfix">
									<li>
										<a href="#" class="moduleButton BG-button">
											<div class="moduleButtonText tableCell BG-moduleButton">16 - 19 Februar</div>
											<div><img alt="example"
													 src="http://placehold.it/68x31">
											</div>
										</a>
										<h3>1. List Item</h3>
										<p>
											Lorem ipsum dolor
										</p>
									</li>
									<li>
										<a href="#" class="moduleButton BG-button">
											<div class="moduleButtonText tableCell BG-moduleButton">16 - 19 Februar</div>
											<div><img alt="example"
													 src="http://placehold.it/68x31">
											</div>
										</a>
										<h3>2. List Item</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, debitis dolores repellendus suscipit doloribus tempore explicabo asperiores error libero tenetur perspiciatis dolor vitae ipsam provident pariatur sapiente consectetur nostrum atque!
										</p>
									</li>
								</ul>
							</div>
					</article>
				</section>
				<setion>
					<header class="sectionHeader">
						<h2>Flexbox</h2>
					</header>
					<article class="module textAndImage bordered">
						<div class="content">
							<p>Folgende <b>Seitenvorlagen</b> und <b>Demos</b> stehen Ihnen zur Verfügung</p>
							<p>Nutzen Sie Demos ausschließlich für die Fehlersuche und Entwicklung</p>
						</div>
					</article>
				</setion>
			</section>
		</div>
		<div class="row clearfix">
			<div class="colspan4">
				<article class="module textAndImage BG-lightAccent">
					<header>
						<h3>Navigation</h3>
					</header>
					<div class="content">
						<p>Folgende <b>Seitenvorlagen</b> und <b>Demos</b> stehen Ihnen zur Verfügung</p>
						<p>Nutzen Sie Demos ausschließlich für die Fehlersuche und Entwicklung</p>
						<p>Vorlagen sind für den Produktiv-Einsatz gedacht</p>
						<ul>
							<li class="navLevel1"><a href="index.html" class="intern">Startseite (Vorlage)</a></li>
							<li class="navLevel1"><a href="grid.html" class="intern">Grid (Demo)</a></li>
							<li class="navLevel1"><a href="modules.html" class="intern">Module (Vorlage)</a></li>
						</ul>
					</div>
				</article>
			</div>
			<div class="colspan8">
				<article class="module textAndImage">
					<header>
						<h3>Statische Vorlage verwenden</h3>
					</header>
					<div class="content">
						<p>Diese statische Vorlage ist eine Umsetzung des Layouts nach Vorgabe des Styleguides der Bundesregierung von 2014</p>
						<p>Screendesign (Maya Fricke, BLE) und HTML-Templates (Marc Haunschild, BLE) sind für statische und dynamische Webanwendungen (Content-Management-Systeme oder individuelle Programmierung) zu verwenden, welche im Corporate Design der BLE erscheinen sollen.</p>
						<p>Neben den Templates hier stehen Varianten im Design des Bundesministeriums für Ernährung und Landwirtschaft und eine neutral gestaltete Version zur Verfügung, die für Webauftritte genutzt werden können, die NICHT im BLE-Design erstellt werden sollen.</p>
					</div>
				</article>
			</div>
		</div>
		<div class="row clearfix">
			<div class="colspan8">
				<article class="module textAndImage BG-lightAccent">
					<header>
						<figure>
							<img src="http://placehold.it/234x156/fff" alt="example">
						</figure>
						<h3>Breiter Teaser (Headline)</h3>
					</header>
					<div class="content">
						<p>Diese statische Vorlage ist eine Umsetzung des Layouts nach Vorgabe des Styleguides der Bundesregierung von 2014</p>
						<p>Screendesign (Maya Fricke, BLE) und HTML-Templates (Marc Haunschild, BLE) sind für statische und dynamische Webanwendungen (Content-Management-Systeme oder individuelle Programmierung) zu verwenden, welche im Corporate Design der BLE erscheinen sollen.</p>
						<p>Neben den Templates hier stehen Varianten im Design des Bundesministeriums für Ernährung und Landwirtschaft und eine neutral gestaltete Version zur Verfügung, die für Webauftritte genutzt werden können, die NICHT im BLE-Design erstellt werden sollen.</p>
					</div>
				</article>
			</div>
			<div class="colspan4">
				<article class="module textAndImage bordered">
					<header>
						<h3>
							Schmale Kiste
						</h3>
					</header>
					<div class="content">
						<p>Folgende <b>Seitenvorlagen</b> und <b>Demos</b> stehen Ihnen zur Verfügung</p>
						<p>Nutzen Sie Demos ausschließlich für die Fehlersuche und Entwicklung</p>
						<p>Vorlagen sind für den Produktiv-Einsatz gedacht</p>
						<ul>
							<li class="navLevel1"><a href="index.html" class="intern">Startseite (Vorlage)</a></li>
							<li class="navLevel1"><a href="grid.html" class="intern">Grid (Demo)</a></li>
							<li class="navLevel1"><a href="modules.html" class="intern">Module (Vorlage)</a></li>
						</ul>
					</div>
				</article>
			</div>
		</div>
		<!-- ###SUBPART-CONTENT-COLUMN0### end -->
	</main><!-- /#idMainContent" -->
	<!-- ###SUBPART-NAVIGATION-FOOTER### start -->
	<footer>
		<h2 class="visuallyhidden">Fußzeile</h2>
		<section class="controlElements">
			<div class="center">
				<script type="text/javascript">
						<!--
							if (window.print) {document.write('<a class="Icon_Drucken" href="javascript:window.print()">###PRINTLABEL###</a>');}
						//-->
				</script>
				<a href="#" class="Icon_NachOben">###TOTOPLABEL###</a>
				<form action="#" class="keywordSearch">
					<label for="idKeywordSearchBottom" class="visuallyhidden">Stichwortsuche</label>
					<input type="search" placeholder="Suchbegriff" id="idKeywordSearchBottom">
					<input type="button" value="Suchen" class="visuallyhidden"><span class="Btn_Lupe" aria-hidden="true"></span>
				</form>
			</div><!-- /.center -->
		</section><!-- /.controlElements -->
		<section class="shortcuts center">
			<h2 class="visuallyhidden">Direktlinks</h2>
			<ul>
				<li><a href="#">Stellenmarkt</a></li>
				<li><a href="#">Weiterbildung</a></li>
				<li><a href="#">Zahlen und Fakten</a></li>
				<li><a href="#">Abschlüsse (Fortbildung)</a></li>
				<li><a href="#">Aktuelles</a></li>
				<li><a href="#">Grüne Berufe</a></li>
				<li><a href="#">Weiteres und mehr</a></li>
			</ul>
		</section><!-- /.shortcuts center -->
		<section class="metaEssentials center">
			<p><a href="#">&copy; 2014 BLE</a></p>
			<ul>
				<li><a href="#">Inhalt</a></li>
				<li><a href="#">Kontakt</a></li>
				<li><a href="#">Impressum</a></li>
				<li><a href="#">Hilfe</a></li>
			</ul>
		</section><!-- /.metaEssentials center -->
	</footer>
	<!-- ###SUBPART-NAVIGATION-FOOTER### end -->

	<!-- ###SUBPART-SCRIPTS-BOTTOM### start -->
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

<!-- toggle class to show hidden elements -->
<script>
window.onload = function() {
$( ".opener" ).click(function() {
	$( this ).toggleClass( "open" );
});
};
</script>


<!-- flexible navigation -->
<script type="text/javascript" src="../scripts/js/vendor/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="../scripts/js/vendor/jquery.flexnav.min.js"></script>

<script>
$(".mainNav").flexNav({
	'animationSpeed' : 250, // default drop animation speed
	'transitionOpacity': true, // default opacity animation
	'buttonSelector': '.mainNavButton', // default menu button class
	'hoverIntent': true, // use with hoverIntent plugin
	'hoverIntentTimeout': 150, // hoverIntent default timeout
	'calcItemWidths': false // dynamically calcs top level nav item widths
});
</script>

<!-- accessible tabs
     http://blog.ginader.de/archives/2009/02/07/jQuery-Accessible-Tabs-Wie-man-Tabs-WIRKLICH-zugaenglich-macht.php -->
<script src="../scripts/js/vendor/jquery.tabs.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.tabs').accessibleTabs({
	    // Der Name der Klasse die dem Div zugewiesen
	    // welche um das Markup herumgeschrieben wird
	    wrapperClass: 'tabContent',
	    // Der Name der Klasse die das aktuelle Tab markiert
	    currentClass: 'current',
	    // Tag oder valider Query Selector der Elemente
	    // aus denen die Tabs Navigation erzeugt wird
	    // (die Originale werden entfernt)
	    tabhead: 'h3',
	    // Tag oder valider Query Selector der Elemente die
	    // als Inhalte der Tabs genutzt werden sollen
	    tabbody: '.tabbody',
	    // Anzeigeeffekte:  'fadeIn', 'slideDown' oder 'show'
	    fx:'fadeIn',
	    // Geschwindigkeit (String|Number): 'slow', 'normal', oder 'fast')
	    // oder die Milisekunden die die Anzeigeeffekte dauern sollen
	    fxspeed: 'normal',
	    // Text um Screenreadern anzuzeigen welches der ausgewählte Tab ist
	    currentInfoText: 'current tab: ',
	    // Definition wo der Text eingefügt wird
	    // Entwender 'prepend' oder 'append'
	    currentInfoPosition: 'prepend',
	    // Klasse des span mit dem Infotext
	    currentInfoClass: 'current-info'
	});
});
</script>
<!-- ###SUBPART-SCRIPTS-BOTTOM### end -->
<!-- ###DOCUMENT### end -->
</body>
</html>